Pandas Operations

This notebook covers Filtering, GroupBy, Sorting

In [2]:
import pandas as pd

### Filtering

In [3]:
df = pd.read_csv(r"C:\Users\adity\Downloads\annual-enterprise-survey-2024-financial-year-provisional.csv")
print(df)

       Year Industry_aggregation_NZSIOC Industry_code_NZSIOC  \
0      2024                     Level 1                99999
1      2024                     Level 1                99999
2      2024                     Level 1                99999
3      2024                     Level 1                99999
4      2024                     Level 1                99999
...     ...                         ...                  ...
55615  2013                     Level 3                 ZZ11
55616  2013                     Level 3                 ZZ11
55617  2013                     Level 3                 ZZ11
55618  2013                     Level 3                 ZZ11
55619  2013                     Level 3                 ZZ11

             Industry_name_NZSIOC               Units Variable_code  \
0                  All industries  Dollars (millions)           H01
1                  All industries  Dollars (millions)           H04
2                  All industries  Dollars (millions)           H05
3                  All industries  Dollars (millions)           H07
4                  All industries  Dollars (millions)           H08
...                           ...                 ...           ...
55615  Food product manufacturing          Percentage           H37
55616  Food product manufacturing          Percentage           H38
55617  Food product manufacturing          Percentage           H39
55618  Food product manufacturing          Percentage           H40
55619  Food product manufacturing          Percentage           H41

                                         Variable_name      Variable_category  \
0                                         Total income  Financial performance
1      Sales, government funding, grants and subsidies  Financial performance
2                    Interest, dividends and donations  Financial performance
3                                 Non-operating income  Financial performance
4                                    Total expenditure  Financial performance
...                                                ...                    ...
55615                                      Quick ratio       Financial ratios
55616              Margin on sales of goods for resale       Financial ratios
55617                                 Return on equity       Financial ratios
55618                           Return on total assets       Financial ratios
55619                            Liabilities structure       Financial ratios

        Value                             Industry_code_ANZSIC06
0      979594  ANZSIC06 divisions A-S (excluding classes K633...
1      838626  ANZSIC06 divisions A-S (excluding classes K633...
2      112188  ANZSIC06 divisions A-S (excluding classes K633...
3       28781  ANZSIC06 divisions A-S (excluding classes K633...
4      856960  ANZSIC06 divisions A-S (excluding classes K633...
...       ...                                                ...
55615      52  ANZSIC06 groups C111, C112, C113, C114, C115, ...
55616      40  ANZSIC06 groups C111, C112, C113, C114, C115, ...
55617      12  ANZSIC06 groups C111, C112, C113, C114, C115, ...
55618       5  ANZSIC06 groups C111, C112, C113, C114, C115, ...
55619      46  ANZSIC06 groups C111, C112, C113, C114, C115, ...

[55620 rows x 10 columns]

In [4]:
#accessing a book object
df.Value

0        979594
1        838626
2        112188
3         28781
4        856960
          ...
55615        52
55616        40
55617        12
55618         5
55619        46
Name: Value, Length: 55620, dtype: object

In [5]:
df["Value"]

0        979594
1        838626
2        112188
3         28781
4        856960
          ...
55615        52
55616        40
55617        12
55618         5
55619        46
Name: Value, Length: 55620, dtype: object

In [9]:
#to get a specific value
df["Value"][3]

'28781'

In [10]:
#to select 1st row of the dataframe
df.iloc[0]

Year                                                                        2024
Industry_aggregation_NZSIOC                                              Level 1
Industry_code_NZSIOC                                                       99999
Industry_name_NZSIOC                                              All industries
Units                                                         Dollars (millions)
Variable_code                                                                H01
Variable_name                                                       Total income
Variable_category                                          Financial performance
Value                                                                     979594
Industry_code_ANZSIC06         ANZSIC06 divisions A-S (excluding classes K633...
Name: 0, dtype: object

In [11]:
#to get the 1st column with iloc - index basedselection
df.iloc[:, 0]

0        2024
1        2024
2        2024
3        2024
4        2024
         ...
55615    2013
55616    2013
55617    2013
55618    2013
55619    2013
Name: Year, Length: 55620, dtype: int64

In [17]:
#to get specific rows and columns
df.iloc[[0,5,10,-55555],[-1,5]]

                               Industry_code_ANZSIC06 Variable_code
0   ANZSIC06 divisions A-S (excluding classes K633...           H01
5   ANZSIC06 divisions A-S (excluding classes K633...           H09
10  ANZSIC06 divisions A-S (excluding classes K633...           H14
65               ANZSIC06 groups A011, A012, and A013           H07

In [19]:
#loc - label based selection
df.loc[2500:2505, ['Variable_code', 'Industry_code_ANZSIC06', 'Value']]

     Variable_code         Industry_code_ANZSIC06  Value
2500           H35  ANZSIC06 groups G424 and G425  42700
2501           H36  ANZSIC06 groups G424 and G425    133
2502           H37  ANZSIC06 groups G424 and G425     68
2503           H38  ANZSIC06 groups G424 and G425     46
2504           H39  ANZSIC06 groups G424 and G425     53
2505           H40  ANZSIC06 groups G424 and G425     20

In [20]:
#Manipulating index
df.set_index("Year")

,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Year,,,,,,,,,
2024,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,979594,ANZSIC06 divisions A-S (excluding classes K633...
2024,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,838626,ANZSIC06 divisions A-S (excluding classes K633...
2024,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,112188,ANZSIC06 divisions A-S (excluding classes K633...
2024,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,28781,ANZSIC06 divisions A-S (excluding classes K633...
2024,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,856960,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [22]:
#Boolean filtering
df.Variable_code == "H05"

0        False
1        False
2         True
3        False
4        False
         ...
55615    False
55616    False
55617    False
55618    False
55619    False
Name: Variable_code, Length: 55620, dtype: bool

In [24]:
#to select relevant data
df.loc[df.Variable_code == "H05"]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
2,2024,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,112188,ANZSIC06 divisions A-S (excluding classes K633...
33,2024,Level 1,AA,"Agriculture, Forestry and Fishing",Dollars (millions),H05,"Interest, dividends and donations",Financial performance,1545,ANZSIC06 division A
64,2024,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,246,"ANZSIC06 groups A011, A012, and A013"
94,2024,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,246,"ANZSIC06 groups A011, A012, and A013"
124,2024,Level 3,AA12,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H05,"Interest, dividends and donations",Financial performance,372,ANZSIC06 groups A014 and A015
...,...,...,...,...,...,...,...,...,...,...
55458,2013,Level 3,RS21,Other Services,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,903,"ANZSIC06 division S (excluding classes S9540, ..."
55490,2013,Level 4,RS211,Repair and Maintenance,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,11,"ANZSIC06 groups S941, S942, and S949"
55522,2013,Level 4,RS212,"Personal Care, Funeral and Other Personal Serv...",Dollars (millions),H05,"Interest, dividends and donations",Financial performance,5,"ANZSIC06 groups S951, S952, and S953"
55554,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Dollars (millions),H05,"Interest, dividends and donations",Financial performance,888,ANZSIC06 group S955
55587,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,C,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [26]:
#& - 2 conditions together
df.loc[(df.Variable_code == "H05") & (df.Industry_aggregation_NZSIOC == "Level 3")]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
64,2024,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,246,"ANZSIC06 groups A011, A012, and A013"
124,2024,Level 3,AA12,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H05,"Interest, dividends and donations",Financial performance,372,ANZSIC06 groups A014 and A015
184,2024,Level 3,AA13,Dairy Cattle Farming,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,511,ANZSIC06 group A016
244,2024,Level 3,AA14,"Poultry, Deer and Other Livestock Farming",Dollars (millions),H05,"Interest, dividends and donations",Financial performance,61,"ANZSIC06 groups A017, A018, and A019"
304,2024,Level 3,AA21,Forestry and Logging,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,199,ANZSIC06 group A030
...,...,...,...,...,...,...,...,...,...,...
54803,2013,Level 3,MN21,Administrative and Support Services,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,143,ANZSIC06 division N
54966,2013,Level 3,OO21,"Public order, safety and regulatory services",Dollars (millions),H05,"Interest, dividends and donations",Financial performance,14,ANZSIC06 groups O771 and O772 (excluding class...
55330,2013,Level 3,RS11,Arts and Recreation Services,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,723,ANZSIC06 division R
55458,2013,Level 3,RS21,Other Services,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,903,"ANZSIC06 division S (excluding classes S9540, ..."
55587,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,C,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [27]:
# | - either of the conditions
df.loc[(df.Variable_code == "H20") | (df.Industry_aggregation_NZSIOC == "Level 4")]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
12,2024,Level 1,99999,All industries,Dollars (millions),H20,Non-operating expenses,Financial performance,16016,ANZSIC06 divisions A-S (excluding classes K633...
43,2024,Level 1,AA,"Agriculture, Forestry and Fishing",Dollars (millions),H20,Non-operating expenses,Financial performance,1137,ANZSIC06 division A
73,2024,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H20,Non-operating expenses,Financial performance,25,"ANZSIC06 groups A011, A012, and A013"
92,2024,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H01,Total income,Financial performance,6048,"ANZSIC06 groups A011, A012, and A013"
93,2024,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,5591,"ANZSIC06 groups A011, A012, and A013"
...,...,...,...,...,...,...,...,...,...,...
55580,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Percentage,H37,Quick ratio,Financial ratios,314,ANZSIC06 group S955
55581,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Percentage,H39,Return on equity,Financial ratios,6,ANZSIC06 group S955
55582,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Percentage,H40,Return on total assets,Financial ratios,5,ANZSIC06 group S955
55583,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Percentage,H41,Liabilities structure,Financial ratios,88,ANZSIC06 group S955
55598,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H20,Non-operating expenses,Financial performance,93,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [28]:
# isin
df.loc[df.Variable_code.isin(["H05", "H10"])]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
2,2024,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,112188,ANZSIC06 divisions A-S (excluding classes K633...
6,2024,Level 1,99999,All industries,Dollars (millions),H10,Indirect taxes,Financial performance,8540,ANZSIC06 divisions A-S (excluding classes K633...
33,2024,Level 1,AA,"Agriculture, Forestry and Fishing",Dollars (millions),H05,"Interest, dividends and donations",Financial performance,1545,ANZSIC06 division A
38,2024,Level 1,AA,"Agriculture, Forestry and Fishing",Dollars (millions),H10,Indirect taxes,Financial performance,549,ANZSIC06 division A
64,2024,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,246,"ANZSIC06 groups A011, A012, and A013"
...,...,...,...,...,...,...,...,...,...,...
55526,2013,Level 4,RS212,"Personal Care, Funeral and Other Personal Serv...",Dollars (millions),H10,Indirect taxes,Financial performance,12,"ANZSIC06 groups S951, S952, and S953"
55554,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Dollars (millions),H05,"Interest, dividends and donations",Financial performance,888,ANZSIC06 group S955
55558,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Dollars (millions),H10,Indirect taxes,Financial performance,4,ANZSIC06 group S955
55587,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,C,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
55592,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H10,Indirect taxes,Financial performance,82,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [36]:
#isnull
df.loc[df.Industry_code_ANZSIC06.isnull()]  #no empty values

Empty DataFrame
Columns: [Year, Industry_aggregation_NZSIOC, Industry_code_NZSIOC, Industry_name_NZSIOC, Units, Variable_code, Variable_name, Variable_category, Value, Industry_code_ANZSIC06]
Index: []

In [38]:
#assigning data
df['H05'] = "M05"
df['H05']

0        M05
1        M05
2        M05
3        M05
4        M05
        ...
55615    M05
55616    M05
55617    M05
55618    M05
55619    M05
Name: H05, Length: 55620, dtype: object

In [41]:
df['index_backwards'] = range(len(df), 0, -1)
df['index_backwards']

0        55620
1        55619
2        55618
3        55617
4        55616
         ...
55615        5
55616        4
55617        3
55618        2
55619        1
Name: index_backwards, Length: 55620, dtype: int64

### GroupBy

In [44]:
#value_counts()
df.Variable_code.value_counts()

Variable_code
H01    1668
H41    1668
H30    1668
H39    1668
H24    1668
H23    1668
H22    1668
H21    1668
H20    1668
H40    1668
H13    1668
H12    1668
H11    1668
H10    1668
H09    1668
H08    1668
H07    1668
H05    1668
H31    1668
H33    1608
H37    1608
H36    1608
H29    1608
H32    1608
H26    1608
H25    1608
H34    1524
H35    1524
H06    1440
H27    1440
H28    1440
H19    1044
H04     936
H02     624
H03     624
H17     624
H18     624
H38     624
H14     204
Name: count, dtype: int64

In [46]:
#describe()
df.Year.describe()

count    55620.000000
mean      2018.500000
std          3.452084
min       2013.000000
25%       2015.750000
50%       2018.500000
75%       2021.250000
max       2024.000000
Name: Year, dtype: float64

In [47]:
df.Year.mean()

np.float64(2018.5)

In [48]:
df.Year.unique()

array([2024, 2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014,
       2013])

In [55]:
df.groupby('Year').Year.count()

Year
2013    4635
2014    4635
2015    4635
2016    4635
2017    4635
2018    4635
2019    4635
2020    4635
2021    4635
2022    4635
2023    4635
2024    4635
Name: Year, dtype: int64

In [64]:
df = pd.read_csv(r"C:\Users\adity\Downloads\annual-enterprise-survey-2024-financial-year-provisional.csv")
df.groupby('Year').Value.min()
print(df.groupby('Year').Value.min())
df.groupby('Variable_code').Year.min()

Year
2013      -1
2014      -1
2015     -11
2016      -1
2017       0
2018      -1
2019     -22
2020     -13
2021     -12
2022     -13
2023      -1
2024    -110
Name: Value, dtype: object

Variable_code
H01    2013
H02    2013
H03    2013
H04    2013
H05    2013
H06    2013
H07    2013
H08    2013
H09    2013
H10    2013
H11    2013
H12    2013
H13    2013
H14    2013
H17    2013
H18    2013
H19    2013
H20    2013
H21    2013
H22    2013
H23    2013
H24    2013
H25    2013
H26    2013
H27    2013
H28    2013
H29    2013
H30    2013
H31    2013
H32    2013
H33    2013
H34    2013
H35    2013
H36    2013
H37    2013
H38    2013
H39    2013
H40    2013
H41    2013
Name: Year, dtype: int64

In [65]:
df.groupby('Industry_code_ANZSIC06').Industry_code_ANZSIC06.count()

Industry_code_ANZSIC06
ANZSIC06 Group F380                     432
ANZSIC06 class L671200                  408
ANZSIC06 division A                     372
ANZSIC06 division B                     396
ANZSIC06 division C                     432
                                       ...
ANZSIC06 groups Q860, Q871, and Q879    360
ANZSIC06 groups R891, R892, and R900    384
ANZSIC06 groups R911, R912, and R913    384
ANZSIC06 groups S941, S942, and S949    384
ANZSIC06 groups S951, S952, and S953    384
Name: Industry_code_ANZSIC06, Length: 119, dtype: int64

### Sorting

In [69]:
indus_counted = df.groupby('Industry_code_ANZSIC06').Industry_code_ANZSIC06.count()
indus_counted.sort_values()

Industry_code_ANZSIC06
ANZSIC06 groups K631 and K632                 300
ANZSIC06 group K631                           300
ANZSIC06 group K632                           300
ANZSIC06 division Q                           360
ANZSIC06 division P                           360
                                             ...
ANZSIC06 groups C161 and C162                 864
ANZSIC06 groups C151 and C152                 864
ANZSIC06 groups C141 and C149                 864
ANZSIC06 groups C201, C202, C203, and C209    864
ANZSIC06 groups C121 and C122                 864
Name: Industry_code_ANZSIC06, Length: 119, dtype: int64

In [70]:
indus_counted.sort_values(ascending = False)

Industry_code_ANZSIC06
ANZSIC06 groups C121 and C122                       864
ANZSIC06 groups C161 and C162                       864
ANZSIC06 groups C221, C222, C223, C224, and C229    864
ANZSIC06 group C170                                 864
ANZSIC06 groups C211, C212, C213, and C214          864
                                                   ...
ANZSIC06 division P                                 360
ANZSIC06 groups A020 and A041                       360
ANZSIC06 groups K631 and K632                       300
ANZSIC06 group K631                                 300
ANZSIC06 group K632                                 300
Name: Industry_code_ANZSIC06, Length: 119, dtype: int64

In [71]:
indus_counted.sort_index()

Industry_code_ANZSIC06
ANZSIC06 Group F380                     432
ANZSIC06 class L671200                  408
ANZSIC06 division A                     372
ANZSIC06 division B                     396
ANZSIC06 division C                     432
                                       ...
ANZSIC06 groups Q860, Q871, and Q879    360
ANZSIC06 groups R891, R892, and R900    384
ANZSIC06 groups R911, R912, and R913    384
ANZSIC06 groups S941, S942, and S949    384
ANZSIC06 groups S951, S952, and S953    384
Name: Industry_code_ANZSIC06, Length: 119, dtype: int64

In [72]:
df.groupby('Variable_name').Variable_name.count()

Variable_name
Additions to fixed assets                                1440
Closing stocks                                           1668
Current assets                                           1608
Current liabilities                                      1608
Current ratio                                            1608
Depreciation                                             1668
Disposals of fixed assets                                1440
Fixed tangible assets                                    1608
Government funding, grants and subsidies                 1332
Indirect taxes                                           1668
Interest and donations                                   1668
Interest, dividends and donations                        1668
Liabilities structure                                    1668
Margin on sales of goods for resale                       624
Non-operating expenses                                   1668
Non-operating income                                     1668
Opening stocks                                           1668
Other Purchases and operating expenses                    572
Other assets                                             1608
Other liabilities                                        1608
Other purchases and operating expenses                     52
Purchases and other operating expenses                   1044
Purchases of goods bought for resale                      624
Quick ratio                                              1608
Redundancy and severance                                 1668
Return on equity                                         1668
Return on total assets                                   1668
Salaries and wages paid                                  1668
Salaries and wages to self employed commission agents     204
Sales of goods and services                               708
Sales of goods not further processed                      624
Sales of other goods and services                         624
Sales, government funding, grants and subsidies           336
Shareholders funds or owners equity                      1668
Surplus before income tax                                1668
Surplus per employee count                               1524
Total assets                                             1668
Total equity and liabilities                             1668
Total expenditure                                        1668
Total income                                             1668
Total income per employee count                          1524
Name: Variable_name, dtype: int64

In [77]:
counted_var = df.groupby('Variable_name').Variable_name.count()
counted_var.sort_values()

Variable_name
Other purchases and operating expenses                     52
Salaries and wages to self employed commission agents     204
Sales, government funding, grants and subsidies           336
Other Purchases and operating expenses                    572
Sales of other goods and services                         624
Sales of goods not further processed                      624
Purchases of goods bought for resale                      624
Margin on sales of goods for resale                       624
Sales of goods and services                               708
Purchases and other operating expenses                   1044
Government funding, grants and subsidies                 1332
Additions to fixed assets                                1440
Disposals of fixed assets                                1440
Total income per employee count                          1524
Surplus per employee count                               1524
Other assets                                             1608
Other liabilities                                        1608
Fixed tangible assets                                    1608
Quick ratio                                              1608
Current assets                                           1608
Current liabilities                                      1608
Current ratio                                            1608
Total expenditure                                        1668
Total equity and liabilities                             1668
Total assets                                             1668
Surplus before income tax                                1668
Shareholders funds or owners equity                      1668
Closing stocks                                           1668
Liabilities structure                                    1668
Salaries and wages paid                                  1668
Interest, dividends and donations                        1668
Return on equity                                         1668
Redundancy and severance                                 1668
Total income                                             1668
Indirect taxes                                           1668
Opening stocks                                           1668
Non-operating income                                     1668
Non-operating expenses                                   1668
Interest and donations                                   1668
Depreciation                                             1668
Return on total assets                                   1668
Name: Variable_name, dtype: int64