Data Cleaning

This notebook covers missing values, replacing values, and date handling

In [1]:
import pandas as pd
import numpy as np

### Missing values and Replacing values

In [2]:
yr_report = pd.read_csv(r"C:\Users\adity\OneDrive\Documents\ACADEMIC MATERIALS\csv3.csv")
yr_report.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,WTSQ.SFA1CA,1995.03,2368.69,NaN,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...,Basic material wholesaling,Sales (operating income),Current prices,Unadjusted,NaN
1,WTSQ.SFA1CA,1995.06,2100.44,NaN,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...,Basic material wholesaling,Sales (operating income),Current prices,Unadjusted,NaN
2,WTSQ.SFA1CA,1995.09,2070.21,NaN,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...,Basic material wholesaling,Sales (operating income),Current prices,Unadjusted,NaN
3,WTSQ.SFA1CA,1995.12,2284.77,NaN,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...,Basic material wholesaling,Sales (operating income),Current prices,Unadjusted,NaN
4,WTSQ.SFA1CA,1996.03,2134.76,NaN,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...,Basic material wholesaling,Sales (operating income),Current prices,Unadjusted,NaN

In [3]:
#to find which rows have missing values
yr_report.isnull()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,False,False,False,True,False,False,False,False,False,False,False,False,False,True
1,False,False,False,True,False,False,False,False,False,False,False,False,False,True
2,False,False,False,True,False,False,False,False,False,False,False,False,False,True
3,False,False,False,True,False,False,False,False,False,False,False,False,False,True
4,False,False,False,True,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5643,False,False,False,True,False,False,False,False,False,False,False,False,False,True
5644,False,False,False,True,False,False,False,False,False,False,False,False,False,True
5645,False,False,False,True,False,False,False,False,False,False,False,False,False,True
5646,False,False,False,True,False,False,False,False,False,False,False,False,False,True
5647,False,False,False,True,False,False,False,False,False,False,False,False,False,True

In [6]:
# to get the number of missing values per column
m_value_count = yr_report.isnull().sum()
m_value_count

Series_reference       0
Period                 2
Data_value             0
Suppressed          5648
STATUS                 5
UNITS                  1
Magnitude              0
Subject                3
Group                  2
Series_title_1         5
Series_title_2         2
Series_title_3         3
Series_title_4         1
Series_title_5      5167
dtype: int64

In [8]:
# to get the number of missing values in the first 5 columns
m_value_count[0:5]

Series_reference       0
Period                 2
Data_value             0
Suppressed          5648
STATUS                 5
dtype: int64

In [11]:
# % of missing values
total_cells = np.prod(yr_report.shape)
total_missing = m_value_count.sum()

percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

13.707760016187779

In [12]:
# remove all the rows that contain a missing values
yr_report.dropna()

Empty DataFrame
Columns: [Series_reference, Period, Data_value, Suppressed, STATUS, UNITS, Magnitude, Subject, Group, Series_title_1, Series_title_2, Series_title_3, Series_title_4, Series_title_5]
Index: []

In [13]:
# remove all the columns that contain a missing values
yr_report.dropna(axis = 1)

     Series_reference  Data_value  Magnitude
0         WTSQ.SFA1CA    2368.690          6
1         WTSQ.SFA1CA    2100.440          6
2         WTSQ.SFA1CA    2070.210          6
3         WTSQ.SFA1CA    2284.770          6
4         WTSQ.SFA1CA    2134.760          6
...               ...         ...        ...
5643      WTSQ.SFZ9CT   18435.435          6
5644      WTSQ.SFZ9CT   18127.248          6
5645      WTSQ.SFZ9CT   17945.519          6
5646      WTSQ.SFZ9CT   17974.439          6
5647      WTSQ.SFZ9CT   17967.209          6

[5648 rows x 3 columns]

In [16]:
#to get a subset of yr_report
subset_yr_report = yr_report.loc[:, "Period" : "Group"].head()
subset_yr_report

,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group
0,1995.03,2368.69,NaN,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
1,1995.06,2100.44,NaN,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
2,1995.09,2070.21,NaN,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
3,1995.12,2284.77,NaN,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
4,1996.03,2134.76,NaN,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...

In [18]:
#to fill missing values
subset_yr_report.fillna(0)

,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group
0,1995.03,2368.69,0.0,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
1,1995.06,2100.44,0.0,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
2,1995.09,2070.21,0.0,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
3,1995.12,2284.77,0.0,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
4,1996.03,2134.76,0.0,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...

In [25]:
subset_yr_report.fillna(method = 'ffill', axis = 1) #to fill the values of the cells before the empty cell in a column, for row, axis = 0

C:\Users\adity\AppData\Local\Temp\ipykernel_13612\2507284224.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  subset_yr_report.fillna(method = 'ffill', axis = 1)

,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group
0,1995.03,2368.69,2368.69,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
1,1995.06,2100.44,2100.44,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
2,1995.09,2070.21,2070.21,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
3,1995.12,2284.77,2284.77,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
4,1996.03,2134.76,2134.76,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...

In [26]:
subset_yr_report.fillna(method = 'bfill', axis = 1) #to fill the values of the cells after the empty cell in a colums, for row, axis = 0

C:\Users\adity\AppData\Local\Temp\ipykernel_13612\3339477960.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  subset_yr_report.fillna(method = 'bfill', axis = 1) #to fill the values of the cells after the empty cell in a colums, for row, axis = 0

,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group
0,1995.03,2368.69,F,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
1,1995.06,2100.44,F,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
2,1995.09,2070.21,F,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
3,1995.12,2284.77,F,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
4,1996.03,2134.76,F,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...

In [29]:
#to fill a NaN column with the mean of another column
subset_yr_report.fillna(subset_yr_report["Period"].mean())

,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group
0,1995.03,2368.69,1995.266,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
1,1995.06,2100.44,1995.266,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
2,1995.09,2070.21,1995.266,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
3,1995.12,2284.77,1995.266,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
4,1996.03,2134.76,1995.266,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...

In [31]:
#Syntax for replace - dataframe.replace(to_replace, value, inplace, limit, regex, method)
new_subset = subset_yr_report.replace(6, 6.2)
new_subset

,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group
0,1995.03,2368.69,NaN,F,Dollars,6.2,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
1,1995.06,2100.44,NaN,F,Dollars,6.2,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
2,1995.09,2070.21,NaN,F,Dollars,6.2,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
3,1995.12,2284.77,NaN,F,Dollars,6.2,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
4,1996.03,2134.76,NaN,F,Dollars,6.2,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...

In [33]:
#treating the to_replace value as regular expression pattern using regex = True
new_subset = subset_yr_report.replace(6, 5.2, regex = True)
new_subset

,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group
0,1995.03,2368.69,NaN,F,Dollars,5.2,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
1,1995.06,2100.44,NaN,F,Dollars,5.2,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
2,1995.09,2070.21,NaN,F,Dollars,5.2,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
3,1995.12,2284.77,NaN,F,Dollars,5.2,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...
4,1996.03,2134.76,NaN,F,Dollars,5.2,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...

In [52]:
new_subset = subset_yr_report['Suppressed'].replace(np.nan, 3)
new_subset

0    3.0
1    3.0
2    3.0
3    3.0
4    3.0
Name: Suppressed, dtype: float64

In [61]:
for x in yr_report.index:
    if yr_report.loc[x, "Data_value"] > 2100:
         yr_report.loc[x, "Data_value"] = 2100
print(yr_report.head())

  Series_reference   Period  Data_value  Suppressed STATUS    UNITS  \
0      WTSQ.SFA1CA  1995.03     2100.00         NaN      F  Dollars
1      WTSQ.SFA1CA  1995.06     2100.00         NaN      F  Dollars
2      WTSQ.SFA1CA  1995.09     2070.21         NaN      F  Dollars
3      WTSQ.SFA1CA  1995.12     2100.00         NaN      F  Dollars
4      WTSQ.SFA1CA  1996.03     2100.00         NaN      F  Dollars

   Magnitude                       Subject  \
0          6  Wholesale Trade Survey - WTS
1          6  Wholesale Trade Survey - WTS
2          6  Wholesale Trade Survey - WTS
3          6  Wholesale Trade Survey - WTS
4          6  Wholesale Trade Survey - WTS

                                               Group  \
0  Industry by variable - (ANZSIC06) - Subannual ...
1  Industry by variable - (ANZSIC06) - Subannual ...
2  Industry by variable - (ANZSIC06) - Subannual ...
3  Industry by variable - (ANZSIC06) - Subannual ...
4  Industry by variable - (ANZSIC06) - Subannual ...

               Series_title_1            Series_title_2  Series_title_3  \
0  Basic material wholesaling  Sales (operating income)  Current prices
1  Basic material wholesaling  Sales (operating income)  Current prices
2  Basic material wholesaling  Sales (operating income)  Current prices
3  Basic material wholesaling  Sales (operating income)  Current prices
4  Basic material wholesaling  Sales (operating income)  Current prices

  Series_title_4 Series_title_5
0     Unadjusted            NaN
1     Unadjusted            NaN
2     Unadjusted            NaN
3     Unadjusted            NaN
4     Unadjusted            NaN

In [69]:
#removing rows
for x in yr_report.index:
    if yr_report.loc[x, "Data_value"] > 2190:
         yr_report.drop(x, inplace = True)
print(yr_report.head())

  Series_reference   Period  Data_value  Suppressed STATUS    UNITS  \
2      WTSQ.SFA1CA  1995.09     2070.21         NaN      F  Dollars
5      WTSQ.SFA1CA  1996.06     2038.45         NaN      F  Dollars
6      WTSQ.SFA1CA  1996.09     2031.17         NaN      F  Dollars
8      WTSQ.SFA1CA  1997.03     1997.05         NaN      F  Dollars
9      WTSQ.SFA1CA  1997.06     2025.13         NaN      F  Dollars

   Magnitude                       Subject  \
2          6  Wholesale Trade Survey - WTS
5          6  Wholesale Trade Survey - WTS
6          6  Wholesale Trade Survey - WTS
8          6  Wholesale Trade Survey - WTS
9          6  Wholesale Trade Survey - WTS

                                               Group  \
2  Industry by variable - (ANZSIC06) - Subannual ...
5  Industry by variable - (ANZSIC06) - Subannual ...
6  Industry by variable - (ANZSIC06) - Subannual ...
8  Industry by variable - (ANZSIC06) - Subannual ...
9  Industry by variable - (ANZSIC06) - Subannual ...

               Series_title_1            Series_title_2  Series_title_3  \
2  Basic material wholesaling  Sales (operating income)  Current prices
5  Basic material wholesaling  Sales (operating income)  Current prices
6  Basic material wholesaling  Sales (operating income)  Current prices
8  Basic material wholesaling  Sales (operating income)  Current prices
9  Basic material wholesaling  Sales (operating income)  Current prices

  Series_title_4 Series_title_5
2     Unadjusted            NaN
5     Unadjusted            NaN
6     Unadjusted            NaN
8     Unadjusted            NaN
9     Unadjusted            NaN

In [92]:
print("Available columns:", yr_report.columns.tolist())

Available columns: ['Series_reference', 'Period', 'Data_value', 'Suppressed', 'STATUS', 'UNITS', 'Magnitude', 'Subject', 'Group', 'Series_title_1', 'Series_title_2', 'Series_title_3', 'Series_title_4', 'Series_title_5']

### Date handling

In [101]:
# modules
import pandas as pd
import numpy as np
import seaborn as sns
import datetime

In [137]:
gscorers = pd.read_csv(r"C:\Users\adity\OneDrive\Desktop\goalscorers.csv")

In [138]:
# print the first few rows of the date column
print(gscorers['date'].head())

0    02-07-1916
1    02-07-1916
2    02-07-1916
3    02-07-1916
4    06-07-1916
Name: date, dtype: object

In [139]:
#datatype
gscorers["date"].dtype

dtype('O')

In [148]:
gscorers['date'] = pd.to_datetime(gscorers['date'], errors = "coerce")
gscorers['date_parsed'] = pd.to_datetime(gscorers['date'], format = "%d-%m-%Y")
gscorers['date_parsed'].head

<bound method NDFrame.head of 0       1916-02-07
1       1916-02-07
2       1916-02-07
3       1916-02-07
4       1916-06-07
           ...
44563   2026-10-01
44564   2026-10-01
44565   2026-10-01
44566          NaT
44567          NaT
Name: date_parsed, Length: 44568, dtype: datetime64[ns]>

In [151]:
gscorers['year'] = gscorers['date'].dt.year
gscorers['year']

0        1916.0
1        1916.0
2        1916.0
3        1916.0
4        1916.0
          ...
44563    2026.0
44564    2026.0
44565    2026.0
44566       NaN
44567       NaN
Name: year, Length: 44568, dtype: float64

In [152]:
gscorers['month'] = gscorers['date'].dt.month
gscorers['month']

0         2.0
1         2.0
2         2.0
3         2.0
4         6.0
         ...
44563    10.0
44564    10.0
44565    10.0
44566     NaN
44567     NaN
Name: month, Length: 44568, dtype: float64

In [153]:
gscorers["day"] = gscorers['date'].dt.day
gscorers["day"]

0        7.0
1        7.0
2        7.0
3        7.0
4        7.0
        ...
44563    1.0
44564    1.0
44565    1.0
44566    NaN
44567    NaN
Name: day, Length: 44568, dtype: float64

In [154]:
gscorers['weekday'] = gscorers['date'].dt.dayofweek
gscorers['weekday']

0        0.0
1        0.0
2        0.0
3        0.0
4        2.0
        ...
44563    3.0
44564    3.0
44565    3.0
44566    NaN
44567    NaN
Name: weekday, Length: 44568, dtype: float64

In [155]:
gscorers["date"].isna()

0        False
1        False
2        False
3        False
4        False
         ...
44563    False
44564    False
44565    False
44566     True
44567     True
Name: date, Length: 44568, dtype: bool

In [156]:
gscorers1 = gscorers.dropna(subset=["date"])
gscorers1

,date,home_team,away_team,team,scorer,minute,own_goal,penalty,date_parsed,year,month,day,weekday
0,1916-02-07,Chile,Uruguay,Uruguay,JosÃ© Piendibene,44.0,False,False,1916-02-07,1916.0,2.0,7.0,0.0
1,1916-02-07,Chile,Uruguay,Uruguay,Isabelino GradÃ­n,55.0,False,False,1916-02-07,1916.0,2.0,7.0,0.0
2,1916-02-07,Chile,Uruguay,Uruguay,Isabelino GradÃ­n,70.0,False,False,1916-02-07,1916.0,2.0,7.0,0.0
3,1916-02-07,Chile,Uruguay,Uruguay,JosÃ© Piendibene,75.0,False,False,1916-02-07,1916.0,2.0,7.0,0.0
4,1916-06-07,Argentina,Chile,Argentina,Alberto Ohaco,2.0,False,False,1916-06-07,1916.0,6.0,7.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44561,2026-10-01,Egypt,Ivory Coast,Egypt,Omar Marmoush,4.0,False,False,2026-10-01,2026.0,10.0,1.0,3.0
44562,2026-10-01,Egypt,Ivory Coast,Egypt,Ramy Rabia,32.0,False,False,2026-10-01,2026.0,10.0,1.0,3.0
44563,2026-10-01,Egypt,Ivory Coast,Ivory Coast,Ahmed Abou El Fotouh,40.0,True,False,2026-10-01,2026.0,10.0,1.0,3.0
44564,2026-10-01,Egypt,Ivory Coast,Egypt,Mohamed Salah,52.0,False,False,2026-10-01,2026.0,10.0,1.0,3.0
44565,2026-10-01,Egypt,Ivory Coast,Ivory Coast,GuÃ©la DouÃ©,73.0,False,False,2026-10-01,2026.0,10.0,1.0,3.0